/* RESET STILI BROWSER*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* STILI UNIVERSALI */

html {
    font-size: 16px;
}

body{
    width: 100%;
    height: 10rem;
    background-color: black;
}

header{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* STILI DI TESTO*/

h1 {
    font-size: 3.125rem;
    font-family: Verdana;
    font-weight: normal;
    color: white;
}

/* STILI DI CLASSI O DI ID */

.paragrafo_excursion {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: Verdana;
    text-decoration: underline;
    color:aquamarine;
    text-align: center;
}